<div class="row">
    <div class="col-6">
        Graph
        <app-donut title="Sales" [labels]="labels4" [data]="data4"></app-donut>
    </div>
    <div class="col-6">
        Graph
        <app-donut title="Market" [labels]="labels1" [data]="data1"></app-donut>
    </div>
</div>
<div class="row">
    <div class="col-6">
        Graph
        <app-donut title="Last" [labels]="labels2" [data]="data2"></app-donut>
    </div>
    <div class="col-6">
        Graph
        <app-donut title="New" [labels]="labels3" [data]="data3"></app-donut>
    </div>
</div>