<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Users</h3>
                <div class="alert alert-info animated fadeIn fast" *ngIf="users.length === 0">
                    <p class="mb-0">Not Elements Found</p>
                </div>
                <div class="table-responsive" *ngIf="users.length != 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users" class="animated fadeIn fast">
                                <td> <img [src]="user.img | image: 'users'" class="w75" /></td>
                                <td>{{ user.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Doctors</h3>
                <div class="alert alert-info animated fadeIn fast" *ngIf="doctors.length === 0">
                    <p class="mb-0">Not Elements Found</p>
                </div>
                <div class="table-responsive" *ngIf="doctors.length != 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doc of doctors" class="animated fadeIn fast">
                                <td>
                                    <img [src]=" doc.img | image: 'doctors' " class="w75 " />
                                </td>
                                <td>
                                    <a [routerLink]="['/dashboard/doctor', doc._id]">{{ doc.name }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 ">
        <div class="card ">
            <div class="card-body ">
                <h3>Hospitals</h3>
                <div class="alert alert-info animated fadeIn fast " *ngIf="hospitals.length===0 ">
                    <p class="mb-0 ">Not Elements Found</p>
                </div>
                <div class="table-responsive " *ngIf="hospitals.length !=0 ">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hops of hospitals " class="animated fadeIn fast ">
                                <td><img [src]="hops.img | image: 'hospitals' " class="w75 " /></td>
                                <td>{{ hops.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>